table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #0d223d;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.back-btn {
    position: right;
    top: 20px;
    left: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.back-btn:hover {
    background-color: #0056b3;
}
